<div class="flex align-items-center mb-2">
	<p-sidebar [(visible)]="displaySideBar">
		<div class="flex flex-column">
			<button [routerLink]="'/'" pButton pRipple class="p-button-text p-button-plain nav-item"> Home </button>
			
			<button *ngIf="!this.UserLogged" [routerLink]="'/login'" pButton pRipple class="p-button-text p-button-plain nav-item"> Iniciar sesión </button>
			
			<button *ngIf="!this.UserLogged" [routerLink]="'/signin'" pButton pRipple class="p-button-text p-button-plain nav-item"> Registrarme </button>

			<button *ngIf="this.haveAdminAccess()" [routerLink]="'/users-manager'" pButton pRipple class="p-button-text p-button-plain nav-item"> Usuarios </button>


			<button *ngIf="this.UserLogged" (click)="this.onLogOut()" pButton pRipple class="p-button-text p-button-plain nav-item"> Cerrar sesión </button>
		</div>
	</p-sidebar>
	
	<button pButton pRipple type="button" icon="pi pi-list" 
		class="p-button-text" (click)="this.displaySideBar = true">
	</button>

	<!-- SPACER -->
	<div class="flex-grow-1"></div>
	
	<div class="mr-2 text-xl font-bold logo-font" [routerLink]="'/'" style="cursor:pointer">
		Turn<span class="text-primary">OS</span>
	</div>
</div>